.Category {
  height: 100%;
  margin-bottom: 100px;
}

.Category .content {
  display: flex;
}

.Category form {
  padding-bottom: 15px;
  width: 400px;
  min-width: 350px;
  margin-right: 60px;
}

.Category form textarea {
  height: 300px;
  font-size: 24px;
}

.Category input[type=file]{ 
  color: transparent;
}

.Category .products {
  padding-left: 60px;
  border-left: solid 1px #eee;
}

.Category .products h4 {
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.Category .products p {
  color: #666;
}

.Category .note {
  margin-bottom: 30px;
  font-style: italic;
}
