.NewCategory {
  display: flex;
  justify-content: center;
}

.NewCategory form {
  padding-bottom: 15px;
  width: 400px;
}

.NewCategory form textarea {
  height: 300px;
  font-size: 24px;
}

.NewCategory input[type=file]{ 
  color: transparent;
}

.NewCategory .page-header {
  text-align: center;
}

.NewCategory .note {
  margin-top: 20px;
}
