.Product {
  margin-bottom: 100px;
}

.Product .form-fields {
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.Product .form-fields .left-half {
  min-width: 300px;
}

@media all and (min-width: 800px) {
  .Product .form-fields .left-half {
    padding-right: 60px;
    min-width: 400px;
  }

  .Product .form-fields .right-half {
    padding-left: 60px;
    border-left: solid 1px #eee;
    min-width: 500px;
  }
}

.Product form textarea {
  height: 200px;
}

.Product input[type=file]{ 
  color: transparent;
}
